<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UI/UX</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/upload.css">
</head>
<body>
   <div class="container">
      

      <main>
        <div class="dashboard-item"> 
            <h1>Upload</h1>

          

           <div class="flex-container" style="margin-left:100px;">
            <div class="container-1">
                <div class="folder">
                  <div class="front-side">
                    <div class="tip"></div>
                    <div class="cover"></div>
                  </div>
                  <div class="back-side cover"></div>
                </div>
                <label class="custom-file-upload">
                  <input class="title" id="upload" type="file" accept=".pdf,.jpg,.jpeg,.png" required/>
                  Choose a file<br>
                </label>
              </div>
        </div>

        </div>

    </main>
   <script src="/static/js/upload.js"></script>
</body>
</html>